# /admin/config.yml

backend:
  name: git-gateway
  branch: master

# Optionnel : pour pouvoir téléverser des images depuis le CMS
media_folder: "static/img"

collections:
  - name: "landing_pages"
    label: "Pages Maîtresses"
    label_singular: "Page Maîtresse"
    folder: "pages/lps"
    create: true
    # Les fichiers seront sauvegardés en .html
    extension: "html" 
    format: "frontmatter"
    fields:
      # Un champ pour le nom de la page dans l'interface du CMS
      - { label: "Titre de la page (pour le CMS)", name: "title", widget: "string" }
      
      # Un champ pour contrôler l'URL, comme vous l'aviez au début
      - { label: "URL de la page (ex: ma-super-promo)", name: "slug_url", widget: "string", required: true }

      # Le champ principal pour coller tout votre code
      - { label: "Code complet de la page (HTML, CSS, etc.)", name: "body", widget: "markdown" }
