# Decap CMS Configuration File

# Partie backend, essentielle pour la connexion à GitHub
backend:
  name: git-gateway
  branch: master

# Emplacement des médias
media_folder: "static/img"

# Collections de contenu
collections:
  # Collection pour les Landing Pages (test minimal)
  - name: "landing_pages"
    label: "Landing Page"
    folder: "pages"
    create: true
    slug: "{{slug}}"
    extension: "njk"
    format: "frontmatter"
    fields:
      - { label: "Titre de la page", name: "title", widget: "string" }

  # Collection pour les articles de blog
  - name: "blog"
    label: "Article de Blog"
    folder: "posts"
    create: true
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
