<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

	{# Ceci est une condition. Elle vérifie si la variable 'showFooter' est vraie. #}
	{% if showFooter %}
		{% include "components/footer.njk" %}
	{% endif %}

	</body>

</html>
