---
layout: layouts/base.njk
section: page
---
{# Ce bloc injecte le CSS personnalisé de la page dans le <head> #}
{% if page_css %}
  {%- set pageStyles %}
    <style>
      {{ page_css | safe }}
    </style>
  {%- endset -%}
  {{ pageStyles | safe }}
{% endif %}

{# Le contenu principal de votre page #}
{{ content | safe }}
